<mat-toolbar class="test">

  <button mat-button routerLink="/homepage" id="Title" >
    <div style="color: rgb(204, 138, 81); display:inline; position: relative; top: -1.5px;" >W</div>orkout Scheduler
  </button>
      
  <button mat-button class="tabs" routerLink="/profile-view">Profile</button>
    
  <button mat-button class="tabs" routerLink="">Weekly Calendar</button>
        
  <button mat-button class="tabs" routerLink="/all-athletes">Team</button>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div>
  </nav>

  <span class="example-spacer"></span>
    
  </mat-toolbar>
  