<mat-toolbar class="test">

    <button mat-button routerLink="" id="Title" (click)='logged'>
         <div style="color: rgb(204, 138, 81); display:inline; position: relative; top: -1.5px;" >W</div>orkout Scheduler
    </button>
      
        <button mat-button class="tabs" routerLink="login">Teams</button>
    
        <button mat-button class="tabs" routerLink="loginC">Coaches</button>
       
    
        <button mat-button class="tabs">Calendar</button>
    
    
    
    
      <span class="example-spacer"></span>
      
    
    </mat-toolbar>