.center {
    width: 10%;
    position:relative;
    margin-left: 40%;
    margin-top: 5%;
    
}
.header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    color: rgb(153, 205, 209);
}
.main2 {
    color: rgb(204, 138, 81);
}