<style>
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
  }
</style>

<div class="center">
    <h1 class="header">Login</h1>
    <form>
    <div>
      <mat-form-field style="width: 200px;">
        <input matInput type="text" [(ngModel)]="eM" name="eM" placeholder="email@email.com" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 200px;">
        <input matInput type="password" [(ngModel)]="pW" name="pW" placeholder="Password" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent" (click)="login()" (submit)="login()" routerLink="/workout-view">Login</button>
  </form>
  <br/>
  <a>Forgot Password?</a>
</div>
