<html>
  <head></head>
  <body>
    <h2>Add Completed Workout</h2>

    <form #form="ngForm" ngNativeValidate>

      <div class="form-group" style="width: 200px;">
        <mat-form-field>
          <input matInput type="textbox" class="form-control" placeholder="Workout" name="workout" required/>
        </mat-form-field>
      </div>

      <div class="form-group" style="width: 200px;">
        <mat-form-field>
          <input matInput type="textbox" class="form-control" placeholder="Comments" name="comments"/>
        </mat-form-field>
      </div>

      <div class="form-group" style="width: 200px;">
        <mat-form-field>
          <ngx-mat-file-input matInput type="file" class="form-control" placeholder="Click To Add File" name=""></ngx-mat-file-input>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Day</mat-label>
        <select matNativeControl name="day" required>
          <option selected disabled></option>
          <option value="1">Sunday</option>
          <option value="2">Monday</option>
          <option value="3">Tuesday</option>
          <option value="4">Wednesday</option>
          <option value="5">Thursday</option>
          <option value="6">Friday</option>
          <option value="7">Saturday</option>
        </select>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="accent" class="btn btn-primary" type="submit">Submit</button>
    
    </form>

    <br/>
    <button mat-stroked-button routerLink="/profile-view">Cancel</button>
  </body>

</html>
