
<div *ngIf="view; then coachView else athleteView"></div>
<ng-template #coachView>
    <app-navbar></app-navbar>
    <div class="displayMargins">
        <div *ngIf="throughHere; then cInit else cThrough"></div>
            <ng-template #cInit>
                <app-coach-view (throughNav)="through($event)"></app-coach-view>
            </ng-template>
            <ng-template #cThrough >
                <router-outlet></router-outlet>
            </ng-template>
    </div>
</ng-template>

<ng-template #athleteView>
    <app-navbar></app-navbar>
    <div class="displayMargins">
        <div *ngIf="throughHere; then aInit else aThrough"></div>
            <ng-template #aInit>
                <app-athlete-view (throughNav)="through($event)"></app-athlete-view>
            </ng-template>
            <ng-template #aThrough >
                <router-outlet></router-outlet>
            </ng-template>

    </div>
</ng-template>    

<button mat-raised-button color="primary" (click)="changeView()">change view</button>

<ul *ngFor = "let ath of athletes">
    <li>{{ ath.id }} - {{ ath.first }} </li> 
  </ul>
