
<app-navbar></app-navbar>
<app-weekly-calendar></app-weekly-calendar>

<div *ngIf="view; then coachView else athleteView"></div>
<ng-template #coachView>
    <button mat-raised-button color="accent" routerLink="/add-athlete-form" routerLinkActive="active">Add Athlete</button>
    <button mat-raised-button color="accent" routerLink="/add-workout-form" routerLinkActive="active">Add Workout</button>
</ng-template>

<ng-template #athleteView>
</ng-template> 

<button mat-raised-button color="accent" routerLink="/all-athletes" routerLinkActive="active">All Athletes</button>
