
<div *ngIf="view; then coachView else athleteView"></div>
    <ng-template #coachView>
        <app-navbar></app-navbar>
        <div class="displayMargins">
        
                coach view goes here

                <router-outlet></router-outlet>
              
            
        </div>
    </ng-template>

    <ng-template #athleteView>
        <app-navbar></app-navbar>
        <div class="displayMargins">
     
                athlete View goes here
         
                <router-outlet></router-outlet>
            

        </div>
    </ng-template>    




    
    
