<html>

  <head>
    <style>
      body {
        margin: 25px;
      }
    </style>
  </head>

  <body>
    <h2>Add Workout</h2>

    <form #form="ngForm" ngNativeValidate>

      <div class="form-group" style="width: 200px;">
        <mat-form-field>
          <input matInput type="text" class="form-control" placeholder="Workout" name="workout" [(ngModel)]="workout.workout" required/>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Day</mat-label>
        <select matNativeControl name="day" [(ngModel)]="workout.day" required>
          <option selected disabled></option>
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="accent" class="btn btn-primary" (click)="submitWorkout()" type="submit">Create</button>
    
    </form>

    <br/>
    <button mat-stroked-button routerLink="/workout-view">Cancel</button>
  </body>

</html>
